body{
    background: #f2f2f2;
  }
  .border-custom{
    border-top: solid var(--blu) 5px;
    border-bottom: solid var(--blu) 5px;
    
  }
.bg-custom{
  background-image: url(../img/search4.jpg);
  margin-top: 5vh;
  margin-bottom: 5vh;
}
  .search {
    width: 60%;
    position: relative;
    display: flex;
    margin-top: 20px;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid var(--blu);
    border-right: none;
    padding: 5px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 50px;

    background: var(--blu);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 100%;
    position: static;
        top: 30%;
        left: 50%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px;
}